/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
ul{
  list-style: none;
}

a{
  color: inherit;  
  text-decoration: none;
}
.title{
  margin: 50px 0;
  text-align: center;
}
.border-bottom{
  border-bottom: 1px solid darkgrey; 
}

body{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #333;
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(/fonts/HelveticaNowMicro-Regular/HelveticaNowMicro-Regular.ttf) format(woff2);
  font-style: normal;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
/* Start header */

.header{
  width: 100%;
  height: 500px;
  background-image: url("./images/nav-bg.webp");
  background-size: cover;
  background-position: center;
}
.navigation{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.nav-links{
  width: 50%;
  align-items: center;
  justify-content: center;
}
.nav-links ul{
  display: flex;
}
.nav-links a{
  font-weight: 600;
  padding: 25px;
}
.header-logo{
  width: 50%;
  font-weight: bold;
  font-size: 22px;
  color: forestgreen;
}


/* Start about us */
.about-us__container{
  display: flex;
  width: 100%; 
}
.about-us__foto{
  width: 35%;
}
.about-us__text{
  text-align: center;
  padding: 40px 80px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
/* End about us */

.gallery {
  height: 430px;
  display: grid;
  place-items: center;
}
.slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::after, .slider::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 15%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .3) 50%,  rgba(255, 255, 255, 0) 100%);
}
.slider::after {
  right: 0;
  top: 0; 
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
  
}
.slide-track{
  display: flex;
  width: calc(250px * 18);
  animation: scroll 50s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.slider-img{
  width: 100%;
  transition: transform 1s;
 
}
.slider-img:hover {
  transform: translateZ(20px);
}


/* Start table */

.table-text
{
  text-align: center;
  padding-bottom: 20px ;
  line-height: 25px;
  align-items: center;
}
.table {
  color: #444;
  width: 100%;
  border-collapse: collapse;
}
.plastic-abr {
  font-weight: 800;
}
.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
    font-size: 16px;
   }

   .table th {
    background-color: #e1e1e1;
    color: #444;
  }
  
  .table tbody tr:nth-child(1) {
    background-color: #eee897;
  }
  .table tbody tr:nth-child(2) {
    background-color: #92c9e6;
  }
  .table tbody tr:nth-child(3) {
    background-color: #eb9292;
  }
  .table tbody tr:nth-child(4) {
    background-color: #e9f3c4;
  }
  .table tbody tr:nth-child(5) {
    background-color: #e6c1f8;
  }
  .table tbody tr:nth-child(6) {
    background-color: #FEDDAD;
  }
  .table tbody tr:nth-child(7) {
    background-color: #f3e0c4;
  }
  
  /*responsive*/
  
  @media (max-width: 960px) {
    .table thead {
      display: none;
    }
  
    .table,
    .table tbody,
    .table tr,
    .table td {
      display: block;
      width: 100%;
    }
    .table tr {
      margin-bottom: 15px;
    }
    .table td {
      padding-left: 50%;
      text-align: left;
      position: relative;
    }
    .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
  }

  /* End table section  */

  /* Start card section */
  .action-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  .action-item{
    width: 200px;
    height: 250px;
    background-image: linear-gradient(
      180deg, rgba(255,255,255,0), #ffffff),linear-gradient(
      70deg, #ddf4ff 32%, #dafbe1);
    margin-bottom: 30px;
    text-align: center;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: #555;

  }

.item-order{
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(1, 182, 46, .9);
  width: 50px;
  line-height: 50px;
  margin: 0 auto;
  border-radius: 50px;
  margin-bottom: 30px ;
}
.text-title{
  font-size: 22px;
  margin-bottom: 10px;
}
 
.text{
  font-size: 20px;
}
  /* End card section */
  


/* responsive  */
/* @media (max-width: 830px) {
  .header-nav{
    position: relative;
    width: 25%;
  }
  .header-nav__links{
  display: none;
  text-align: center;
  position: absolute;
  top: 42px;
  padding: 15px;
  }
  .burger-item {
    background-color: black;
    width: 40px;
    height: 5px;
    margin: 0 auto 5px;
  }
  .mobile-menu{
    padding: 15px 820px;
  }

.mobile-menu:hover~.header-nav__links{
  display: block;
}
.header-nav__links:hover{
  display: block;
}
} */
/* HEADER-END */


  